/* CSS for the calendar */

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#calendar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

#calendar-header h2 {
	font-size: 24px;
	margin: 0;
}

#calendar-nav {
	display: flex;
	align-items: center;
}

#prev-week,
#next-week {
	margin-right: 10px;
	cursor: pointer;
}

#roomSelect {
	margin-right: 10px;
}

#calendar {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background-color: #f9f9f9;
}

.meeting {
	margin-top: 5px;
	padding: 5px;
	background-color: #007bff;
	color: #fff;
	border-radius: 3px;
}
