/* Common styles for both light and dark modes */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container-wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1000px;
	margin-top: 20px;
}

.form-container {
	width: 45%;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

form {
	width: 100%;
}

label {
	display: inline-block;
	width: 30%;
	margin-bottom: 8px;
}

input {
	width: 60%;
	padding: 8px;
	margin-bottom: 12px;
	border: 1px solid #888;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	width: 100%;
}

button:hover {
	background-color: #45a049;
}

/* Updated toggle styles */
.toggle-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.toggle-label {
	margin-left: 10px;
	color: #333;
}

/* Adjusted text styling for better visibility in dark mode */
body.dark-mode .toggle-label,
body.dark-mode .form-container h2 {
	color: #fff;
}

/* Additional styling for visual appeal */
.toggle-label:before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 20px;
	background-color: #888;
	border-radius: 25px;
	position: relative;
	transition: background-color 0.4s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.toggle-label:after {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Light mode specific styles */
body.light-mode {
	background-color: #fff;
	color: #333;
}

.form-container.light-mode {
	background-color: #eee;
}

label.light-mode,
input.light-mode {
	background-color: #fff;
	color: #333;
}

.toggle-label.light-mode {
	color: #333;
}

/* Dark mode specific styles */
body.dark-mode {
	background-color: #333;
	color: #fff;
}

.form-container.dark-mode {
	background-color: #444;
}

label.dark-mode,
input.dark-mode {
	background-color: #555;
	color: #fff;
}

.toggle-label.dark-mode {
	color: #fff;
}
