/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.container {
	width: 40%;
	margin: 10vh auto 0;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
}

/* Title */
.page-title {
	grid-column: 1 / span 3; /* Span across all three columns */
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/* Button styling */
button {
	padding: 20px 40px; /* Larger padding */
	background-color: #ff6347;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

/* Button hover effect */
button:hover {
	background-color: #e74c3c;
}
