/* Global styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 75%;
	margin: 20px auto;
	padding: 20px;
	background-color: #f8f8f8; /* Light gray */
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#calendar {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	background-color: #fff; /* White */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.day {
	flex-basis: calc(100% / 8);
	border: 1px solid #ccc;
	padding: 10px;
}

.date {
	background-color: #f8f8f8; /* Light gray */
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.date:hover {
	background-color: #e9e9e9; /* Slightly lighter gray on hover */
}

.meeting {
	background-color: #ff6347; /* Red */
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer; /* Add cursor pointer */
	transition: background-color 0.2s; /* Reduced transition time */
}

.meeting:hover {
	background-color: #e74c3c; /* Lighter red */
}

input[type="date"],
button,
select {
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #ff6347; /* Red */
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: background-color 0.2s; /* Reduced transition time */
}

input[type="date"]:hover,
button:hover,
select:hover {
	background-color: #e74c3c; /* Lighter red */
}

input[type="date"]:focus,
button:focus,
select:focus {
	background-color: #e74c3c; /* Lighter red */
}

.selected {
	background-color: #6c757d; /* Gray */
	color: white; /* White text */
	font-weight: bold; /* Make text bold */
}

.selected:hover {
	background-color: #495057; /* Darker gray */
	color: white; /* White text */
	font-weight: bold; /* Make text bold */
}

/* Add background box to days of the week (labels) */
.day {
	background-color: #f8f8f8; /* Light gray */
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Add background box to dates */
.date {
	background-color: #fff; /* White */
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Style the create meeting section */
.create-meeting-section {
	background-color: #f0f0f0; /* Light gray */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Create meeting container */
.create-meeting-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.create-meeting-section {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

/* Form input styling */
.create-meeting-section label {
	margin-bottom: 5px;
}

.create-meeting-section input[type="text"],
.create-meeting-section input[type="time"],
.create-meeting-section input[type="number"],
.create-meeting-section select {
	width: calc(100% - 10px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Button styling */
.create-meeting-container button {
	padding: 10px 20px;
	background-color: #ff6347;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

/* Button hover effect */
.create-meeting-container button:hover {
	background-color: #e74c3c;
}

.custom-input {
	background-color: gray;
}
