/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.container {
	width: 30%;
	margin: 10vh auto 0;
	background-color: #f8f8f8;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
}

/* Title */
h2 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Form input styling */
label {
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Button styling */
button {
	width: 100%;
	padding: 10px 20px;
	background-color: #ff6347;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

/* Button hover effect */
button:hover {
	background-color: #e74c3c;
}
