<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
			integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Login</h1>

		<form action="/users/Login" method="POST">
			<div>
				<input
					type="text"
					id="email"
					name="email"
					placeholder="input email"
					required
				/>
			</div>
			<div>
				<input
					type="text"
					id="password"
					name="password"
					placeholder="input password"
					required
				/>
			</div>

			<div>
				<input type="submit" value="Login" />
			</div>
			<a href="/users/register">Not Registered - register</a>
		</form>
	</body>
</html>
