/* Custom CSS for LED Control and MicroEsp Addition page */

/* Main container */
.main-container {
	width: 90%; /* Adjust width */
	margin: 5vh auto; /* Center horizontally and add space at the top */
	display: grid;
	grid-template-columns: 1fr 1fr; /* Split into two columns */
	gap: 50px; /* Increase gap between columns */
	border-radius: 15px; /* Rounded borders */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
	background-color: #f8f8f8; /* Background color */
	padding: 20px; /* Add padding */
}

/* Main title */
.main-title {
	grid-column: 1 / span 2;
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px; /* Add space below title */
}

/* LED Control & MicroEsp section */
.led-control,
.add-microesp {
	background-color: #f8f8f8;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	display: flex; /* Ensure flex layout */
	flex-direction: column; /* Stack children vertically */
	min-height: 80%; /* Set height to 100% */
}

/* Title */
h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px; /* Add space below title */
}

/* Form */
form {
	display: grid;
	gap: 10px; /* Increase gap between form elements */
}

/* Select Element */
select,
input[type="text"],
input[type="number"] {
	width: 100%; /* Full width */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Sliders */
.slider {
	width: 100%;
}

/* Buttons */
button {
	width: 100%;
	padding: 10px;
	background-color: #ff6347;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

/* Button Row */
.button-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Three equal columns */
	gap: 10px; /* Increase gap between buttons */
	margin-top: 10px; /* Add space above button row */
}

/* Second Button Row */
.button-row-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Two equal columns */
	gap: 10px; /* Increase gap between buttons */
	margin-top: 10px; /* Add space above button row */
}
